header {
	display: inline-block;
	width: 100%;
	z-index: 999;
	line-height: 0px;
	top: 0px;
	background: #fff;
	position: relative;
	margin-bottom: -5px;

  &:before {
    content: "";
    background: #fff;
    position: absolute;
    left: -12%;
    top: 0px;
    width: 50.3%;
    background: #fff;
    height: 125px;
    z-index: 9;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    transform: skew(40deg);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }

  .logo {
    float: left;
    width: auto;
    margin: 20px 0;
    position: relative;
    z-index: 99;
  }

  nav {
    display: inline-block;
    position: relative;
    z-index: 999;
    margin-top: 20px;

      a {
      padding: 10px 0px;
      margin: 0;
      border-color: transparent;
      text-decoration: none;
      line-height: 20px;
      text-transform: uppercase;
      color: #616566;
      float: left;
      font-size: 14px;
      font-weight: 500;
      position: relative;
    }

  }

  .ownmenu {
    ul.dropdown {
      padding-bottom: 0px;
      background: #fff;

      a {
        text-transform: uppercase;
        font-size: 12px;
        border: none;
        padding:0px 20px;
        line-height: 38px;
        background: none;
        color: #000;
        font-size: 12px;
        display: inline-block;
        width: 100%;
        border-bottom:1px solid rgba(0,0,0,0.1);

        &:hover {
          background: #f19100;
	        color: #fff;
        }
      }
    }
    .indicator {
      display: none;
    }
  }
}